
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@200&family=Sacramento&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 600px;
    background-color: #E0EBEB;
    position: relative;
    display: flex;
}

h1,h2,h3,h4{
    color: #4AB19A;
}

.logo{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 10%;
    margin-top: 3%;
    border-radius: 70%;
}

.links{
    position: absolute;
    right: 10%;
    margin-top: 5%;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #4AB19A;
    font-weight: bold;
    font-size: 18px;
}

a:hover{
    color: green;
}

.img1{
    height: 70px;
    width: 130px;
    position: absolute;
    right: 20%;
    top: 20%;
}

.img2{
    height: 70px;
    width: 130px;
    position: absolute;
    left: 20%;
    bottom: 10%;
}

.textarea{
position: absolute;
text-align: center;
top: 37%;
right: 37%;
}

.text1{

font-size: 100px;
font-family: 'Sacramento', cursive;
line-height: 1;

}

.text2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

hr{
    width: 30%;
    opacity: 70%;
    border-style: dotted;
    color: grey;
    border-width: thick;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

p{
    line-height: 26px;
    color: #000001;
    font-family: 'Merriweather', sans-serif;
}

.skill-row{
    padding: 20px;
    width: 60%;
    margin: auto;
}

.images{
    height: 200px;
    width: 200px;
    padding: 20px;
    float: left; 
}


.myButton {
	background:linear-gradient(to bottom, #4ab19b 5%, #4ab19b 100%);
	background-color:#4ab19b;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 20px 19px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #4ab19b 5%, #4ab19b 100%);
	background-color:#4ab19b;
}
.myButton:active {
	position:relative;
	top:1px;
}


.bottom-container {
    background-color: #E0EBEB;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #4AB19A;
    font-weight: bold;
    font-size: 18px;
}

@media only screen and (max-width: 640px){

.text1{
    font-size: 40px;
    top: 30px;
    line-height: 1px;
    left: 60px;
}

.text2{
    font-size:15px;
}

.skill-row{
    padding: 20px;
    width: 80%;
}

@media only screen and (min-width: 641px) and (max-width: 800px)

.text1{
    font-size: 10px;
}

}